.container {
  display: block;
  margin: 20px auto;
  margin-top: 80px;
  width: 70%;
  /* Общая ширина контейнера */
  max-width: 1200px;
  /* Максимальная ширина для больших экранов */
}

.admin-dashboard {
  top: 70px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dashboard .search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.admin-dashboard .user-list {
  margin-top: 20px;
}

.admin-dashboard .user-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admin-dashboard .user-item p {
  margin: 0 0 10px 0;
}

.admin-dashboard .actions {
  text-align: right;
}

.admin-dashboard .btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.admin-dashboard .btn-search {
  background-color: #4d79ff;
  color: white;
}

.admin-dashboard .btn.delete {
  background-color: #ff4d4d;
  color: white;
}

.admin-dashboard .btn:hover {
  opacity: 0.9;
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}