.home-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

.content-container {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 50%;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.separate-line {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 20px 0;
}
.about-section {
  margin-bottom: 30px;
}

.features-section{
  margin-top: 40px;
}

.features-section ul {
  list-style: none;
  padding: 0;
}

.features-section li {
  margin: 10px 0;
  font-weight: bold;
  color: #444;
}
