.reviews-list {
  margin-top: 20px;
  bottom: 50px;
}

.review {
  background-color: #f8f8f8;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.review p {
  margin: 0;
  padding-bottom: 10px;
}

.review strong {
  color: #333;
}

.review-text{
  width: 600px; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.remove-button{
    margin-bottom: 15px;
    background-color: #f83434;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
  .remove-button:hover {
    background-color: #8d0606;
  }

